body {
    background-color: gray;
}
.head {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: darkgray;
    height: 120px;
}

h3.witaj {
    text-align: center;
    position: fixed;
    top: 90px;
    width: 100%;
}

.menu {
    position: fixed;
    top: 130px;
    left: 0px;
    width: 230px;
    background-color: gray;
    border-right: 3px black solid;
    text-align: right;
    padding: 3px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: lightgrey;
    padding: 3px;
}

.content {
    position: fixed;
    left: 240px;
    width: calc(100% - 240px);
    top: 130px;
    padding: 5px;
}

.FPcontent {
    position: fixed;
    width: 100%;
    top: 130px;
    text-align: center;
}

.FPcontent .startPage th {
    text-align: center;
    font-style: italic;
}

.content th {
    color: red;
    font-style: italic;
    border: solid 3px black;
    border-collapse: collapse
}

.content td {
    color: black;
    border: solid 3px black;
    border-collapse: collapse
}

#usersTable {
    width: 100%;
    padding: 2px;
    border-collapse: collapse
}

.FPcontent .startPage td {
    text-align: center;
}

.FPcontent table {
    position: center;
}

.menu ul {
    list-style: none;

}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    text-decoration: none;
    color: ivory;
}

